
/* Style de base pour petits smartphones*/
    *{
        list-style-type: none;
    }    
    
    body {        
        background-image: linear-gradient(to right, #ff7e5f, #feb47b);
        margin:10px;        
    }

    .img {
        display: flex;
        justify-content: center;       
        
    }

    h1, .bloc h2 {
        text-align: center; 
        color: #2C3E50;
        margin: 40px 0 40px 0; 
    }
    .bloc {
        background-color: #ECF0F1;
        color: #2C3E50;
        border-radius: 4px ;
        border: 2px solid;
        border-color: #2C3E50;
        padding: 15px;
        margin-top: 30px;
        margin-bottom: 30px;        
        box-shadow: 0px 1px 2px #2C3E50;
        min-height: 400px;
          
    }    

/* Style pour smartphones moyens ( type iphone ) */
@media (min-width: 481px) and (max-width: 768px){
    body {
        background-color: whitesmoke;
    }
}
/* Style pour tablettes */
@media (min-width: 769px) and (max-width: 1024px){
    body {
        background-color: whitesmoke;
    }
}

/* Style pour PC */
@media (min-width: 1025px){
    body {
        background-color: whitesmoke;
    }
}
