
/* Style de base pour petits smartphones*/
    *{
        list-style-type: none;
    }
    
    body {
        background-color: whitesmoke;
        margin:10px;
    }

    .img {
        display: flex;
        justify-content: center;       
        
    }

    h1, h2 {
        display: flex;
        justify-content: center;
        align-items: center;                
        color: #2C3E50;
        margin: 5px;
        padding: 20px;
        
    }
    .bloc {
        background-color: #ECF0F1;
        color: #2C3E50;
        border-radius: 4px ;
        border: 2px solid;
        border-color: #2C3E50;
        padding: 40px;
        margin:20px;      
    }

/* Style pour smartphones moyens ( type iphone ) */
@media (min-width: 481px) and (max-width: 768px){
    body {
        background-color: whitesmoke;
    }
}
/* Style pour tablettes */
@media (min-width: 769px) and (max-width: 1024px){
    body {
        background-color: whitesmoke;
    }
}

/* Style pour PC */
@media (min-width: 1025px){
    body {
        background-color: whitesmoke;
    }
}
